td {color: #1d0bf8}
blockquote { color: blue ; }
h1 { color: rgba(0,0,0,0.1); }
strong { color: #00f; color: #f00;}
/* p { color: navy } */

blockquote {
color: #fff ;
background-color: gold;
}

th[colspan="4"] {
    font-size: 50px;
    font-family: BiauKai, arial;
}

